In [41]:
import pandas as pd

# Load the Facebook dataset
facebook_file_path = '/Users/vladgarau/Downloads/datasets/facebook_dataset.csv' 
facebook_data = pd.read_csv(facebook_file_path, on_bad_lines='skip')  # Skipping bad lines if any

# Display the first few rows to inspect the dataset
facebook_data.head()

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
0,euro-hygiene-34.fr,"134 rue entrepreneurs, za du vigné, 30420, cal...",NaN,calvisson,fr,france,NaN,NaN,https://euro-hygiene-34.fr,Euro Hygiène,LocalBusiness,NaN,NaN,occ,occitanie,30420
1,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,ca,NaN,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,1.613832e+10,ca,NaN,NaN,NaN
2,rossiterboats.com,NaN,Boats & Yachts Dealers|Boat Tours & Cruises,NaN,NaN,NaN,At Rossiter Boats we build semi-custom power b...,info@rossiterboats.com,http://rossiterboats.com,Rossiter Boats,LocalBusiness,NaN,NaN,NaN,NaN,NaN
3,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,vancouver,ca,canada,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,1.604687e+10,ca,bc,british columbia,v6b 1g1
4,apexsurety.ca,"unit 3 - 4 donald street, r3l 2t7, winnipeg, m...",NaN,winnipeg,ca,canada,NaN,NaN,https://apexsurety.ca,Apex Surety & Insurance Ltd.,LocalBusiness,1.204560e+10,ca,mb,manitoba,r3l 2t7

In [42]:
# Standardize country and region names to lowercase and strip extra spaces
facebook_data['country_name'] = facebook_data['country_name'].str.lower().str.strip()
facebook_data['region_name'] = facebook_data['region_name'].str.lower().str.strip()

In [43]:
# Convert phone numbers to string and remove scientific notation if present
facebook_data['phone'] = facebook_data['phone'].apply(lambda x: str(int(x)) if not pd.isnull(x) else '')

In [47]:
# Fill missing values and assign them back to the original DataFrame
facebook_data['name'] = facebook_data['name'].fillna('Unknown')
facebook_data['address'] = facebook_data['address'].fillna('Unknown')
facebook_data['categories'] = facebook_data['categories'].fillna('Unknown')

# Check if missing values are handled
facebook_data.isnull().sum()  # This will show how many missing values are left in each column

domain                    0
address                   0
categories                0
city                  26600
country_code          13976
country_name          26302
description           43978
email                 51414
link                      0
name                      0
page_type                 4
phone                     0
phone_country_code    33616
region_code           26605
region_name           26605
zip_code              35544
dtype: int64

In [48]:
# Save the cleaned dataset to a new CSV
facebook_data.to_csv('/Users/vladgarau/Downloads/datasets/facebook_cleaned.csv', index=False)

In [51]:
# Load the Google dataset
google_file_path = '/Users/vladgarau/Downloads/datasets/google_dataset.csv'
google_data = pd.read_csv(google_file_path, on_bad_lines='skip', low_memory=False)

# Display the first few rows to inspect the dataset
google_data.head()

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
0,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) · Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
1,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St · In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) · Book store 400 Scott St · In Grant...,l2m 3w2,bookmanager.com
2,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business · Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) · Building materials store 7+ years i...,b5a 2j9,timbermart.ca
3,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business · 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) · Medical spa 7+ years in business · ...,90025,linktr.ee
4,NaN,Catering & Delivery,NaN,NaN,NaN,Lakay express,NaN,NaN,NaN,NaN,NaN,NaN,5.0 (1) · Mobile caterer Open ⋅ Closes 9PM,NaN,linktr.ee

In [52]:
# Display unique values and their types in the problematic column (index 5 in zero-based indexing)
google_data.iloc[:, 5].apply(type).value_counts()

name
<class 'str'>      346893
<class 'float'>        32
Name: count, dtype: int64

In [53]:
# Convert the column to numeric, forcing errors to be set as NaN (Not a Number)
google_data.iloc[:, 5] = pd.to_numeric(google_data.iloc[:, 5], errors='coerce')

In [54]:
# Standardize country and region names to lowercase and strip extra spaces
google_data['country_name'] = google_data['country_name'].str.lower().str.strip()
google_data['region_name'] = google_data['region_name'].str.lower().str.strip()

In [55]:
# Clean both 'phone' and 'raw_phone' columns by removing spaces, plus signs, and dashes
google_data['phone'] = google_data['phone'].apply(lambda x: str(x).replace(' ', '').replace('+', '').replace('-', '') if not pd.isnull(x) else '')
google_data['raw_phone'] = google_data['raw_phone'].apply(lambda x: str(x).replace(' ', '').replace('+', '').replace('-', '') if not pd.isnull(x) else '')

In [57]:
# Fill missing values and assign them back to the original DataFrame
google_data['name'] = google_data['name'].fillna('Unknown')
google_data['address'] = google_data['address'].fillna('Unknown')
google_data['category'] = google_data['category'].fillna('Unknown')

# Check if missing values are handled
google_data.isnull().sum()  # This will show how many missing values are left in each column

address                    0
category                   0
city                   44726
country_code           51564
country_name           44690
name                       0
phone                      0
phone_country_code    112821
raw_address            44016
raw_phone                  0
region_code            44876
region_name            44871
text                    3514
zip_code               81279
domain                     2
dtype: int64

In [58]:
# Save the cleaned dataset to a new CSV
google_data.to_csv('/Users/vladgarau/Downloads/datasets/google_cleaned.csv', index=False)

In [59]:
# Load the Website dataset (assuming semicolon as the delimiter)
website_file_path = '/Users/vladgarau/Downloads/datasets/website_dataset.csv'
website_data = pd.read_csv(website_file_path, sep=';')

# Display the first few rows to inspect the dataset
website_data.head()

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
0,converterman.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,clothesencounter.ca,ca,en,NaN,cardigan,canada,prince edward island,13066937766,Clothes Encounter,ca,Shoes & Other Footwear Stores
2,investa.com.au,com.au,en,Investa Wholesale Funds Management Limited,brisbane,australia,queensland,61282269300,Investa Property Group,au,Real Estate Developers
3,timminsgarage.com,com,en,Timmins Garage Inc.,timmins,canada,ontario,18775896640,Timmins Garage,com,Automobile Dealers & Manufacturers
4,destinate.ca,ca,en,Destinate Group Ltd.,NaN,Canada,NaN,NaN,Destinate Group,ca,Business Consulting

In [60]:
# Standardize country and region names to lowercase and strip extra spaces
website_data['main_country'] = website_data['main_country'].str.lower().str.strip()
website_data['main_region'] = website_data['main_region'].str.lower().str.strip()

In [61]:
# Clean phone numbers by removing non-numeric characters
website_data['phone'] = website_data['phone'].astype(str).str.replace(r'\D', '', regex=True)

In [62]:
# Fill missing values and assign them back to the original DataFrame
website_data['legal_name'] = website_data['legal_name'].fillna('Unknown')
website_data['main_city'] = website_data['main_city'].fillna('Unknown')
website_data['s_category'] = website_data['s_category'].fillna('Unknown')

# Check if missing values are handled
website_data.isnull().sum()  # This will show how many missing values are left in each column

root_domain          1
domain_suffix      118
language          5192
legal_name           0
main_city            0
main_country      7149
main_region      11085
phone                0
site_name         3304
tld                261
s_category           0
dtype: int64

In [63]:
# Rename columns to match the structure of other datasets
website_data.rename(columns={
    'root_domain': 'domain',
    'legal_name': 'company_name',
    'main_country': 'country',
    'main_region': 'region',
    'main_city': 'city',
    's_category': 'category'
}, inplace=True)

In [64]:
# Save the cleaned dataset to a new CSV
website_data.to_csv('/Users/vladgarau/Downloads/datasets/website_cleaned.csv', index=False)

In [66]:
import pandas as pd

# Load the cleaned datasets 
facebook_data = pd.read_csv('/Users/vladgarau/Downloads/datasets/facebook_cleaned.csv')
google_data = pd.read_csv('/Users/vladgarau/Downloads/datasets/google_cleaned.csv', dtype={6: str})
website_data = pd.read_csv('/Users/vladgarau/Downloads/datasets/website_cleaned.csv')

In [67]:
# Check columns to ensure they're ready for merging
print(facebook_data.columns)
print(google_data.columns)
print(website_data.columns)

Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name',
       'zip_code'],
      dtype='object')
Index(['address', 'category', 'city', 'country_code', 'country_name', 'name',
       'phone', 'phone_country_code', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'text', 'zip_code', 'domain'],
      dtype='object')
Index(['domain', 'domain_suffix', 'language', 'company_name', 'city',
       'country', 'region', 'phone', 'site_name', 'tld', 'category'],
      dtype='object')

In [69]:
# Rename columns in the Website dataset to match the others
website_data.rename(columns={
    'main_country': 'country', 
    'main_region': 'region', 
    'main_city': 'city', 
    's_category': 'category',
    'root_domain': 'domain',
    'legal_name': 'company_name'
}, inplace=True)

# Rename columns in the Facebook dataset (if needed)
facebook_data.rename(columns={
    'country_name': 'country', 
    'region_name': 'region', 
    'categories': 'category',
    'name': 'company_name'
}, inplace=True)

# Rename columns in the Google dataset (if needed)
google_data.rename(columns={
    'country_name': 'country', 
    'region_name': 'region',
    'category': 'category',
    'name': 'company_name'
}, inplace=True)

In [70]:
# Check data types for critical columns
print(facebook_data.dtypes)
print(google_data.dtypes)
print(website_data.dtypes)

# Ensure the 'domain' column is of type string in all datasets
facebook_data['domain'] = facebook_data['domain'].astype(str)
google_data['domain'] = google_data['domain'].astype(str)
website_data['domain'] = website_data['domain'].astype(str)

# Ensure 'phone' column is of type string
facebook_data['phone'] = facebook_data['phone'].astype(str)
google_data['phone'] = google_data['phone'].astype(str)
website_data['phone'] = website_data['phone'].astype(str)

# Standardize country names (convert to lowercase, remove spaces) for all datasets
facebook_data['country'] = facebook_data['country'].str.lower().str.strip()
google_data['country'] = google_data['country'].str.lower().str.strip()
website_data['country'] = website_data['country'].str.lower().str.strip()

domain                 object
address                object
category               object
city                   object
country_code           object
country                object
description            object
email                  object
link                   object
company_name           object
page_type              object
phone                 float64
phone_country_code     object
region_code            object
region                 object
zip_code               object
dtype: object
address               object
category              object
city                  object
country_code          object
country               object
company_name          object
phone                 object
phone_country_code    object
raw_address           object
raw_phone             object
region_code           object
region                object
text                  object
zip_code              object
domain                object
dtype: object
domain            object
domain_suffix     object
language          object
company_name      object
city              object
country           object
region            object
phone            float64
site_name         object
tld               object
category          object
dtype: object

In [71]:
# Standardize the 'company_name' to remove extra spaces and make lowercase
facebook_data['company_name'] = facebook_data['company_name'].str.lower().str.strip()
google_data['company_name'] = google_data['company_name'].str.lower().str.strip()
website_data['company_name'] = website_data['company_name'].str.lower().str.strip()

# For categories, I similarly strip extra spaces and handle multiple categories consistently
facebook_data['category'] = facebook_data['category'].str.lower().str.strip()
google_data['category'] = google_data['category'].str.lower().str.strip()
website_data['category'] = website_data['category'].str.lower().str.strip()

In [78]:
# Recheck the columns and data types for consistency
print("Facebook columns:\n", facebook_data.dtypes)
print("Google columns:\n", google_data.dtypes)
print("Website columns:\n", website_data.dtypes)

# Final check of column names
print(facebook_data.columns)
print(google_data.columns)
print(website_data.columns)

Facebook columns:
 domain                object
address               object
category              object
city                  object
country_code          object
country               object
description           object
email                 object
link                  object
company_name          object
page_type             object
phone                 object
phone_country_code    object
region_code           object
region                object
zip_code              object
full_address_fb       object
dtype: object
Google columns:
 address                object
category               object
city                   object
country_code           object
country                object
company_name           object
phone                  object
phone_country_code     object
raw_address            object
raw_phone              object
region_code            object
region                 object
text                   object
zip_code               object
domain                 object
full_address_google    object
dtype: object
Website columns:
 domain                  object
domain_suffix           object
language                object
company_name            object
city                    object
country                 object
region                  object
phone                   object
site_name               object
tld                     object
category                object
full_address_website    object
dtype: object
Index(['domain', 'address', 'category', 'city', 'country_code', 'country',
       'description', 'email', 'link', 'company_name', 'page_type', 'phone',
       'phone_country_code', 'region_code', 'region', 'zip_code',
       'full_address_fb'],
      dtype='object')
Index(['address', 'category', 'city', 'country_code', 'country',
       'company_name', 'phone', 'phone_country_code', 'raw_address',
       'raw_phone', 'region_code', 'region', 'text', 'zip_code', 'domain',
       'full_address_google'],
      dtype='object')
Index(['domain', 'domain_suffix', 'language', 'company_name', 'city',
       'country', 'region', 'phone', 'site_name', 'tld', 'category',
       'full_address_website'],
      dtype='object')

In [79]:
# For Facebook dataset, concatenate city, region, and country into full_address
facebook_data['full_address_fb'] = facebook_data[['city', 'region', 'country']].apply(lambda x: ', '.join(x.dropna()), axis=1)

# For Google dataset, concatenate city, region, and country into full_address
google_data['full_address_google'] = google_data[['city', 'region', 'country']].apply(lambda x: ', '.join(x.dropna()), axis=1)

# For Website dataset, concatenate city, region, and country into full_address
website_data['full_address_website'] = website_data[['city', 'region', 'country']].apply(lambda x: ', '.join(x.dropna()), axis=1)

In [82]:
#Step 3: Join the Datasets on the domain Column
#Next, I merge the datasets using 'domain' as the key. I will perform an outer join to ensure I don't lose any data from any of the datasets.
# Merge Facebook and Google datasets first
merged_fb_google = pd.merge(facebook_data, google_data, on='domain', how='outer', suffixes=('_fb', '_google'))

# Merge the result with the Website dataset
merged_all = pd.merge(merged_fb_google, website_data, on='domain', how='outer', suffixes=('', '_website'))

In [84]:
# Step 4: Resolve Data Conflicts
# a. Prioritize company_name
# Why prioritize Website first?: The company name listed on the business's official website is likely to be the most formal and official version.
# Google second: Google business listings are generally verified, which makes them a reliable backup source.
# Facebook last: Facebook might have user-friendly or informal versions of the company name, so I use it as a fallback.

# Prioritize Website for company_name, then Google, then Facebook
merged_all['company_name'] = merged_all['company_name'].combine_first(merged_all['company_name_google']).combine_first(merged_all['company_name_fb'])

In [85]:
# b. Combine category Values
# Why combine categories?: Businesses may be listed under different categories in different datasets. By combining all available categories, we ensure that we capture a complete set of possible categories for each business.

# Combine categories from all datasets into one column
merged_all['category_combined'] = merged_all['category_fb'].fillna('') + ', ' + merged_all['category_google'].fillna('') + ', ' + merged_all['category'].fillna('')
# Remove extra commas and spaces
merged_all['category_combined'] = merged_all['category_combined'].str.strip(', ')

In [86]:
# c. Prioritize phone
# Why prioritize Facebook first?: Facebook is likely to have direct business phone numbers managed by the business itself.
# Google second: Google is reliable and often verified but serves as a backup.
# Website last: Website phone numbers may be less frequently updated but are useful as a fallback.

# Prioritize Facebook for phone, then Google, then Website
merged_all['phone'] = merged_all['phone_fb'].combine_first(merged_all['phone_google']).combine_first(merged_all['phone'])

In [87]:
# d. Use the full_address
# Why prioritize Facebook first?: Facebook’s address may be more user-managed and recent.
# Google second: Google often has reliable, verified addresses for businesses.
# Website last: Website addresses can serve as a fallback when other data is missing.

# Prioritize Facebook's full_address first, then Google, then Website
merged_all['full_address'] = merged_all['full_address_fb'].combine_first(merged_all['full_address_google']).combine_first(merged_all['full_address_website'])

In [88]:
# Step 5: Clean and Finalize the Merged Dataset
# I can select the key columns of interest for the final dataset.

# Select the relevant columns for the final dataset
final_columns = ['domain', 'company_name', 'category_combined', 'phone', 'full_address']

# Create the final dataset
final_dataset = merged_all[final_columns]

# Display the first few rows of the final dataset
final_dataset.head()

,domain,company_name,category_combined,phone,full_address
0,"Mobile Pet Salon - Edmonton""",unknown,unknown,nan,Unknown
1,"(519) 771-8508""",unknown,unknown,nan,Unknown
2,007group.com,hawkeye holdings ltd.,"other engineering services|buses, shuttles & l...",12507657007.0,"kelowna, british columbia, canada"
3,007print.be,unknown,"business consulting, construction services, co...",32499228888.0,"hasselt, flanders, belgium"
4,01remote.com,unknown,"computer stores|cable & internet providers, co...",nan,"mississauga, ontario, canada"

In [89]:
# Steps to Fix the Issues:
# 1. Handle Inconsistent Data in the domain Column
# Some entries in the domain column look incorrectly formatted. Let’s clean up the domain column by:

# Stripping leading/trailing spaces.
# Removing any invalid characters (like extra quotes or spaces).

# Clean the domain column
merged_all['domain'] = merged_all['domain'].str.strip().str.replace('"', '')

In [91]:
# 2. Fixing the Prioritization for company_name, phone, and full_address
# Let’s ensure the proper prioritization for each of the fields based on the datasets I am merging from.

# a. Fixing company_name Prioritization
# Make sure the fallback logic is correct for company_name. Instead of showing "unknown", missing values should correctly fallback to other datasets.

# Replace empty or NaN company names with fallback from other datasets
merged_all['company_name'] = merged_all['company_name'].combine_first(merged_all['company_name_google']).combine_first(merged_all['company_name_fb'])

# Replace any remaining NaNs with 'Unknown' without using inplace=True
merged_all['company_name'] = merged_all['company_name'].fillna('Unknown')

In [93]:
# b. Fixing phone Prioritization
# Ensure phone prioritization is correct. Missing values in phone should fallback correctly, and I will fill any remaining missing values with "Unknown".

# Replace empty or NaN phone numbers with fallback from other datasets
merged_all['phone'] = merged_all['phone_fb'].combine_first(merged_all['phone_google']).combine_first(merged_all['phone'])

# Replace any remaining NaNs with 'Unknown'
merged_all['phone'] = merged_all['phone'].fillna('Unknown')

In [95]:
# c. Fixing full_address Prioritization
# Ensure that full_address combines properly from Facebook, Google, and Website, and fill any missing values with "Unknown".

# Replace empty or NaN full_address with fallback from other datasets
merged_all['full_address'] = merged_all['full_address_fb'].combine_first(merged_all['full_address_google']).combine_first(merged_all['full_address_website'])

# Replace any remaining NaNs with 'Unknown'
merged_all['full_address'] = merged_all['full_address'].fillna('Unknown')

In [97]:
# 3. Review the category_combined Column
# Make sure that the category_combined field is properly concatenated from all datasets, and clean any leading/trailing commas.

# Combine categories from all datasets into one column
merged_all['category_combined'] = merged_all['category_fb'].fillna('') + ', ' + merged_all['category_google'].fillna('') + ', ' + merged_all['category'].fillna('')

# Remove leading/trailing commas and extra spaces
merged_all['category_combined'] = merged_all['category_combined'].str.strip(', ')

# Replace any remaining NaNs with 'Unknown'
merged_all['category_combined'] = merged_all['category_combined'].fillna('Unknown')

In [98]:
# 4. Review the First Few Rows
# Now that we've cleaned up and fixed the prioritization, let’s review the first few rows to ensure everything looks correct.

# Display the first few rows of the merged dataset
print(merged_all[['domain', 'company_name', 'category_combined', 'phone', 'full_address']].head())

                          domain           company_name  \
0   Mobile Pet Salon - Edmonton"                unknown
1                (519) 771-8508"                unknown
2                   007group.com  hawkeye holdings ltd.
3                    007print.be                unknown
4                   01remote.com                unknown

                                   category_combined          phone  \
0                                            unknown            nan
1                                            unknown            nan
2  other engineering services|buses, shuttles & l...  12507657007.0
3  business consulting, construction services, co...  32499228888.0
4  computer stores|cable & internet providers, co...            nan

                        full_address
0                            Unknown
1                            Unknown
2  kelowna, british columbia, canada
3         hasselt, flanders, belgium
4       mississauga, ontario, canada

In [100]:
# It seems that some issues persist, particularly around:

# 1. domain: Some entries like "Mobile Pet Salon – Edmonton" and "(519) 771-8508" are incorrectly placed in the domain field.
# 2. company_name and phone: Many entries are still listed as "unknown" or NaN, meaning either the fallback strategy is not being applied correctly, or the source data is incomplete.
# 3. full_address: Some rows still show "Unknown" for addresses, which might indicate missing data in all three datasets.
# Let's address these issues step by step:

# 1. Fixing the domain Column
# It seems like some entries in the domain column are not valid domain names (e.g., a phone number is in the domain column). This could be a result of an issue in the merge process or incorrect data in the source files.

# Fix:
# I can apply a quick regex filter to ensure that the domain column only contains valid domains. For example, I can ensure that the domain entries contain only typical domain characters (like letters, numbers, -, ., etc.).

import re

# Define a function to clean up invalid domains
def clean_domain(domain):
    if pd.isnull(domain):
        return domain
    # Regex to check if the domain contains only valid domain characters
    if re.match(r'^[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', domain):
        return domain
    else:
        return None  # Mark invalid domains as None

# Apply the function to the domain column
merged_all['domain'] = merged_all['domain'].apply(clean_domain)

# After cleaning, fill missing domain values with 'Unknown'
merged_all['domain'] = merged_all['domain'].fillna('Unknown')

In [133]:
# 2. Prioritizing company_name and phone Correctly
# The fallback strategy for company_name and phone might not be working as expected, leading to "unknown" and NaN values. I need to carefully check if all datasets have valid values in these columns and ensure the prioritization is correct.

# Fix:
# I can try a slightly different strategy to ensure the fallback works properly:

# Prioritize Facebook first, then Google, then Website for company_name
merged_all['company_name'] = merged_all['company_name_fb'].combine_first(merged_all['company_name_google']).combine_first(merged_all['company_name'])

# If 'company_name' is still NaN, replace with 'Unknown'
merged_all['company_name'] = merged_all['company_name'].fillna('Unknown')

# Prioritize Facebook first, then Google, then Website for phone
merged_all['phone'] = merged_all['phone_fb'].combine_first(merged_all['phone_google']).combine_first(merged_all['phone'])

# If 'phone' is still NaN, replace with 'Unknown'
merged_all['phone'] = merged_all['phone'].fillna('Unknown')

In [134]:
# 3. Checking the full_address Field
# For the full_address, it seems that many rows are still showing "Unknown". This could mean that all datasets have missing data for these businesses, or the concatenation might not have worked correctly.

# Fix:
# I can double-check the full_address prioritization and clean any potential issues:

# Prioritize Facebook first, then Google, then Website for full_address
merged_all['full_address'] = merged_all['full_address_fb'].combine_first(merged_all['full_address_google']).combine_first(merged_all['full_address_website'])

# If 'full_address' is still NaN, replace with 'Unknown'
merged_all['full_address'] = merged_all['full_address'].fillna('Unknown')

In [135]:
# 4. Review the Updated Data
# After applying these fixes, let’s review the first few rows of the cleaned data:

# Review the first few rows of the cleaned dataset
print(merged_all[['domain', 'company_name', 'category_combined', 'phone', 'full_address']].head())

                          domain          company_name  \
0   Mobile Pet Salon - Edmonton"               unknown
1                (519) 771-8508"               unknown
2                   007group.com  hawkeye holdings ltd
3                    007print.be              007print
4                   01remote.com             01 remote

                                   category_combined          phone  \
0                                            unknown            nan
1                                            unknown            nan
2  other engineering services|buses, shuttles & l...  12507657007.0
3  business consulting, construction services, co...  32499228888.0
4  computer stores|cable & internet providers, co...            nan

                        full_address
0                            Unknown
1                            Unknown
2  kelowna, british columbia, canada
3         hasselt, flanders, belgium
4       mississauga, ontario, canada

In [136]:
# The data now looks cleaner, but there are still some persistent issues that need to be addressed:

# 1. Unknown domains: The first two rows have "Unknown" in the domain column. This might have been caused by invalid entries, but I need to double-check the source data and ensure proper fallback for missing or invalid domains.
# 2. company_name still shows "unknown": This means that none of the datasets (Facebook, Google, or Website) had a valid company_name for those rows.
# 3. phone values are in scientific notation: The phone numbers are still displayed in a format like 12507657007.0. I need to properly format the phone numbers to remove decimals and make them readable.
# 4. full_address looks better: The address is correctly populated in some rows, but missing in others (showing as "Unknown"). This suggests that the missing addresses are present across all datasets for those rows.

In [137]:
# 1. Fixing the Domain Column
# The first two rows still show "Unknown" for the domain. These rows may contain invalid data in the domain field. I might want to:

# Check for those rows had a valid domain in any of the original datasets.
# If no valid domain exists, leaving them as "Unknown" might be the best option.
# I can also look at related fields like company_name, phone, or address to see if they help identify what the domain might be.

# Step-by-Step Approach to Investigate "Unknown" Domains:
# 1. Add a Temporary Row Identifier to Each Dataset:
# Before merging the datasets, I can add a temporary row identifier (e.g., an index) to each dataset. This way, after the merge, I will know which row in the original dataset each entry came from. This identifier will help us track back to the original rows even if the domain is "Unknown".

# a. Add Row Identifiers to the Original Datasets:
# First, I add an identifier column (e.g., original_index) to each of the datasets (Facebook, Google, and Website) before merging:

# Add a row identifier to Facebook dataset
facebook_data['facebook_index'] = facebook_data.index

# Add a row identifier to Google dataset
google_data['google_index'] = google_data.index

# Add a row identifier to Website dataset
website_data['website_index'] = website_data.index

In [138]:
# b. Merge the Datasets with Row Identifiers:
# Now, when I merge the datasets, I'll keep the row identifiers intact:

# Merge Facebook and Google datasets first
merged_fb_google = pd.merge(facebook_data, google_data, on='domain', how='outer', suffixes=('_fb', '_google'))

# Then merge with the Website dataset
merged_all = pd.merge(merged_fb_google, website_data, on='domain', how='outer', suffixes=('', '_website'))

# This will keep the original row indices from Facebook, Google, and Website in the merged dataset

In [139]:
# 2. Identify Rows with "Unknown" Domains:
# Next, let's isolate the rows in the merged dataset where the domain is "Unknown":

# Filter rows where domain is 'Unknown'
unknown_domains = merged_all[merged_all['domain'] == 'Unknown']

print(merged_all.columns)

Index(['domain', 'address_fb', 'category_fb', 'city_fb', 'country_code_fb',
       'country_fb', 'description', 'email', 'link', 'company_name_fb',
       'page_type', 'phone_fb', 'phone_country_code_fb', 'region_code_fb',
       'region_fb', 'zip_code_fb', 'full_address_fb', 'facebook_index',
       'address_google', 'category_google', 'city_google',
       'country_code_google', 'country_google', 'company_name_google',
       'phone_google', 'phone_country_code_google', 'raw_address', 'raw_phone',
       'region_code_google', 'region_google', 'text', 'zip_code_google',
       'full_address_google', 'google_index', 'domain_suffix', 'language',
       'company_name', 'city', 'country', 'region', 'phone', 'site_name',
       'tld', 'category', 'full_address_website', 'website_index'],
      dtype='object')

In [140]:
# Ensure the full_address Column Exists: If full_address does not exist in the merged DataFrame, I may need to create it by concatenating the address-related columns from the Facebook, Google, and Website datasets (as discussed earlier).

# Here’s the step to create full_address if it hasn’t been done yet:

# Create the full_address column by combining city, region, and country from all datasets
merged_all['full_address'] = merged_all['full_address_fb'].combine_first(merged_all['full_address_google']).combine_first(merged_all['full_address_website'])

In [141]:
# Filter rows where domain is 'Unknown'
unknown_domains = merged_all[merged_all['domain'] == 'Unknown']

# Check the first few rows with 'Unknown' domains
print(unknown_domains[['facebook_index', 'google_index', 'website_index', 'company_name', 'phone', 'full_address']].head())

Empty DataFrame
Columns: [facebook_index, google_index, website_index, company_name, phone, full_address]
Index: []

In [142]:
# Check the first few rows with 'Unknown' domains
print(unknown_domains[['facebook_index', 'google_index', 'website_index', 'company_name', 'phone', 'full_address']].head())

Empty DataFrame
Columns: [facebook_index, google_index, website_index, company_name, phone, full_address]
Index: []

In [143]:
# 3. Cross-Check the Original Data Using the Row Identifiers:
# To investigate these rows further, I can go back to the original datasets using the row identifiers:

# Check the corresponding rows in Facebook for missing domains
facebook_data.loc[facebook_data['facebook_index'].isin(unknown_domains['facebook_index'])]

Empty DataFrame
Columns: [domain, address, category, city, country_code, country, description, email, link, company_name, page_type, phone, phone_country_code, region_code, region, zip_code, full_address_fb, facebook_index]
Index: []

In [144]:
# Check the corresponding rows in Google
google_data.loc[google_data['google_index'].isin(unknown_domains['google_index'])]

Empty DataFrame
Columns: [address, category, city, country_code, country, company_name, phone, phone_country_code, raw_address, raw_phone, region_code, region, text, zip_code, domain, full_address_google, google_index]
Index: []

In [145]:
# Check the corresponding rows in Website
website_data.loc[website_data['website_index'].isin(unknown_domains['website_index'])]

Empty DataFrame
Columns: [domain, domain_suffix, language, company_name, city, country, region, phone, site_name, tld, category, full_address_website, website_index]
Index: []

In [146]:
# Recap of How the 4th Dataset Was Created:

# Merging the Datasets:
#The datasets were merged using the domain as the common identifier.
#An outer join was used to keep all data, even if a particular entry was missing in one or more datasets.

#Conflict Resolution:
#For fields like company_name, phone, category, and address, priority was given to the dataset deemed the most reliable (e.g., Website for company_name).

#Data Cleaning:
#Missing values were filled as "Unknown".
#The full_address field was created by combining city, region, and country fields.

#Final Dataset:
#The result of this process was saved into final_cleaned_dataset.csv, which is my 4th dataset.

# Saving the final merged and cleaned dataset to a CSV file
merged_all.to_csv('fouth_dataset.csv', index=False)

# Inspect the first few rows of the final dataset
print(merged_all.head())

                          domain  \
0   Mobile Pet Salon - Edmonton"
1                (519) 771-8508"
2                   007group.com
3                    007print.be
4                   01remote.com

                                          address_fb  \
0                                                NaN
1                                                NaN
2  3396 sexsmith road, v1x 7s5, kelowna, bc, cana...
3  hendrik van veldekesingel 150/94, 3500, hassel...
4  100 city centre drive, l5b 3c7, mississauga, o...

                                         category_fb      city_fb  \
0                                                NaN          NaN
1                                                NaN          NaN
2  other engineering services|buses, shuttles & l...      kelowna
3                                business consulting      hasselt
4         computer stores|cable & internet providers  mississauga

  country_code_fb country_fb  \
0             NaN        NaN
1             NaN        NaN
2              ca     canada
3              be    belgium
4              ca     canada

                                         description                 email  \
0                                                NaN                   NaN
1                                                NaN                   NaN
2                                                NaN                   NaN
3                                                NaN                   NaN
4  01 Remote provides remote IT support service t...  service@01remote.com

                   link       company_name_fb  ...     city  country  \
0                   NaN                   NaN  ...  Unknown      NaN
1                   NaN                   NaN  ...  Unknown      NaN
2  https://007group.com  hawkeye holdings ltd  ...  kelowna   canada
3   https://007print.be              007print  ...  hasselt  belgium
4   http://01remote.com             01 remote  ...  Unknown      NaN

             region          phone         site_name  tld  \
0               NaN            nan               NaN  NaN
1               NaN            nan               NaN  NaN
2  british columbia  12507657007.0  Hawkeye Holdings  com
3          flanders  32499228888.0          007Print   be
4               NaN            nan               NaN  NaN

                 category               full_address_website website_index  \
0                 unknown                            Unknown       12556.0
1                 unknown                            Unknown       53414.0
2  trucking and logistics  kelowna, british columbia, canada       70099.0
3     commercial printing         hasselt, flanders, belgium       35253.0
4                 unknown                            Unknown       55439.0

                        full_address
0                            Unknown
1                            Unknown
2  kelowna, british columbia, canada
3         hasselt, flanders, belgium
4       mississauga, ontario, canada

[5 rows x 47 columns]

In [147]:
# Select only the key identifiers and fields
#fourth_dataset = merged_all[['domain', 'company_name', 'category_combined', 'phone', 'full_address']]
# Check all column names in the merged DataFrame
print(merged_all.columns)

Index(['domain', 'address_fb', 'category_fb', 'city_fb', 'country_code_fb',
       'country_fb', 'description', 'email', 'link', 'company_name_fb',
       'page_type', 'phone_fb', 'phone_country_code_fb', 'region_code_fb',
       'region_fb', 'zip_code_fb', 'full_address_fb', 'facebook_index',
       'address_google', 'category_google', 'city_google',
       'country_code_google', 'country_google', 'company_name_google',
       'phone_google', 'phone_country_code_google', 'raw_address', 'raw_phone',
       'region_code_google', 'region_google', 'text', 'zip_code_google',
       'full_address_google', 'google_index', 'domain_suffix', 'language',
       'company_name', 'city', 'country', 'region', 'phone', 'site_name',
       'tld', 'category', 'full_address_website', 'website_index',
       'full_address'],
      dtype='object')

In [148]:
# Combine categories from Facebook, Google, and Website datasets
merged_all['category_combined'] = merged_all['category_fb'].fillna('') + ', ' + \
                                  merged_all['category_google'].fillna('') + ', ' + \
                                  merged_all['category'].fillna('')

# Clean up any extra commas and spaces
merged_all['category_combined'] = merged_all['category_combined'].str.strip(', ').replace('', 'Unknown')

In [149]:
# Select only the key columns for the final dataset
fourth_dataset = merged_all[['domain', 'company_name', 'category_combined', 'phone', 'full_address']]

In [150]:
# Save the final dataset to a CSV file
fourth_dataset.to_csv('fourth_dataset.csv', index=False)

In [151]:
# Check the first few rows of the cleaned dataset
print(fourth_dataset.head())

                          domain           company_name  \
0   Mobile Pet Salon - Edmonton"                unknown
1                (519) 771-8508"                unknown
2                   007group.com  hawkeye holdings ltd.
3                    007print.be                unknown
4                   01remote.com                unknown

                                   category_combined          phone  \
0                                            unknown            nan
1                                            unknown            nan
2  other engineering services|buses, shuttles & l...  12507657007.0
3  business consulting, construction services, co...  32499228888.0
4  computer stores|cable & internet providers, co...            nan

                        full_address
0                            Unknown
1                            Unknown
2  kelowna, british columbia, canada
3         hasselt, flanders, belgium
4       mississauga, ontario, canada

In [152]:
fourth_dataset.to_csv('/Users/vladgarau/Downloads/datasets/fourth_dataset.csv', index=False)

In [153]:
# Identify duplicate rows based on the 'domain' column
duplicates = fourth_dataset[fourth_dataset.duplicated(subset='domain', keep=False)]

# Display the duplicates
print(duplicates)

                 domain                  company_name  \
15          10design.co   10 design - an egis company
16          10design.co   10 design - an egis company
21          1111.com.tw                       unknown
22          1111.com.tw                       unknown
39      1866wefight.com                       unknown
...                 ...                           ...
348822        zurich.ae  zurich insurance company uae
348825       zutari.com                       unknown
348826       zutari.com                       unknown
348827       zutari.com                       unknown
348828       zutari.com                       unknown

                                        category_combined          phone  \
15      unknown, architects & architectural services, ...  13053978694.0
16      unknown, architects & architectural services, ...  13053978694.0
21      unknown, unknown, recruitment & job listing se...        88611.0
22      unknown, unknown, recruitment & job listing se...        88611.0
39      unknown, general practice attorneys, insurance...  18669334448.0
...                                                   ...            ...
348822  banks & atms|investment consultants & financia...  97144557575.0
348825  business consulting|other engineering services...            nan
348826  business consulting|other engineering services...            nan
348827  business consulting|other engineering services...            nan
348828  business consulting|other engineering services...            nan

                              full_address
15                               hong kong
16                               hong kong
21             taipei, taipei city, taiwan
22             taipei, taipei city, taiwan
39                 london, ontario, canada
...                                    ...
348822  dubai, dubai, united arab emirates
348825     pretoria, gauteng, south africa
348826     pretoria, gauteng, south africa
348827     pretoria, gauteng, south africa
348828     pretoria, gauteng, south africa

[291803 rows x 5 columns]

In [154]:
# Sort the dataset so that the rows with the most non-null values come first
fourth_dataset = fourth_dataset.sort_values(by=['domain', 'company_name', 'category_combined', 'phone', 'full_address'], ascending=False)

# Drop duplicates, keeping the row with the most non-null values
fourth_dataset = fourth_dataset.drop_duplicates(subset='domain', keep='first')

In [155]:
# Inspect the cleaned dataset
print(fourth_dataset.head())

                    domain company_name  \
348837                 Â "      alberta
348836             zzdp.nl      unknown
348835        zykode.co.za      unknown
348834  zyeudoreditions.ca      unknown
348833            zyara.ca      unknown

                                        category_combined          phone  \
348837                                            unknown            nan
348836  industrial machinery & supplies, architects & ...  31206471881.0
348835  unknown, office equipment & supplies, office s...  27766027137.0
348834  book stores|book stores|art galleries, furnitu...  14508870130.0
348833  middle eastern restaurants, restaurants, resta...  15145350248.0

                                 full_address
348837      15879834154, com, be okay massage
348836  amsterdam, north holland, netherlands
348835
348834
348833

In [156]:
fourth_dataset.to_csv('/Users/vladgarau/Downloads/datasets/fourth_dataset.csv', index=False)

In [157]:
# I don't like how the company_name column looks like. I need to prioritize the information from facebook first

In [160]:
# Replace company_name with Facebook’s Data First: I will first prioritize Facebook (company_name_fb), and then fill missing names from Google (company_name_google), and finally fall back on Website (company_name).

# Replace the Values in the company_name Column: I will directly replace the company_name column in the fourth dataset with the prioritized information.


# Check all the column names in the dataset
print(fourth_dataset.columns)

Index(['domain', 'company_name', 'category_combined', 'phone', 'full_address'], dtype='object')

In [161]:
# I need to re-merge the facebook data. I got lost somehow along the way.

In [164]:
# Add row identifier to Facebook dataset
facebook_data['facebook_index'] = facebook_data.index

# Add row identifier to Google dataset
google_data['google_index'] = google_data.index

# Add row identifier to Website dataset
website_data['website_index'] = website_data.index

In [165]:
# Merge Facebook and Google datasets first
merged_fb_google = pd.merge(facebook_data, google_data, on='domain', how='outer', suffixes=('_fb', '_google'))

In [166]:
# Then merge with the Website dataset
merged_all = pd.merge(merged_fb_google, website_data, on='domain', how='outer', suffixes=('', '_website'))

In [167]:
# Prioritize Facebook first, then Google, then Website for company_name
merged_all['company_name'] = merged_all['company_name_fb'].combine_first(
    merged_all['company_name_google']).combine_first(
    merged_all['company_name'])

# If 'company_name' is still NaN, replace with 'Unknown'
merged_all['company_name'] = merged_all['company_name'].fillna('Unknown')

In [168]:
# Prioritize Facebook first, then Google, then Website for phone
merged_all['phone'] = merged_all['phone_fb'].combine_first(merged_all['phone_google']).combine_first(merged_all['phone'])
merged_all['phone'] = merged_all['phone'].fillna('Unknown')

# Prioritize Facebook first, then Google, then Website for full_address
merged_all['full_address'] = merged_all['full_address_fb'].combine_first(merged_all['full_address_google']).combine_first(merged_all['full_address_website'])
merged_all['full_address'] = merged_all['full_address'].fillna('Unknown')

In [169]:
# Review the first few rows of the cleaned dataset
print(merged_all[['domain', 'company_name', 'phone', 'full_address']].head())

                          domain          company_name          phone  \
0   Mobile Pet Salon - Edmonton"               unknown            nan
1                (519) 771-8508"               unknown            nan
2                   007group.com  hawkeye holdings ltd  12507657007.0
3                    007print.be              007print  32499228888.0
4                   01remote.com             01 remote            nan

                        full_address
0                            Unknown
1                            Unknown
2  kelowna, british columbia, canada
3         hasselt, flanders, belgium
4       mississauga, ontario, canada

In [172]:
# Assuming 'fourth_dataset' is already loaded and contains 'domain', 'company_name', etc.
# Merge Facebook cleaned data with fourth_dataset using 'domain' as the key
# Load the Facebook cleaned dataset

facebook_cleaned = pd.read_csv('/Users/vladgarau/Downloads/datasets/facebook_cleaned.csv')

merged_all = pd.merge(fourth_dataset, facebook_cleaned[['domain', 'name']], how='left', on='domain', suffixes=('', '_fb'))

# Prioritize Facebook 'name' first, then Google, then Website for 'company_name'
merged_all['company_name'] = merged_all['name'].combine_first(merged_all['company_name'])

# Fill any remaining missing values for 'company_name' with 'Unknown'
merged_all['company_name'] = merged_all['company_name'].fillna('Unknown')

# Save the updated dataset
merged_all.to_csv('fourth_dataset_with_facebook_priority.csv', index=False)

# Check the first few rows to verify
print(merged_all[['domain', 'company_name', 'phone', 'full_address']].head())

               domain           company_name          phone  \
0                 Â "                alberta            nan
1             zzdp.nl       ZZDP Architecten  31206471881.0
2        zykode.co.za  Zykode Office Systems  27766027137.0
3  zyeudoreditions.ca       Zyeudor Éditions  14508870130.0
4            zyara.ca                  Zyara  15145350248.0

                            full_address
0      15879834154, com, be okay massage
1  amsterdam, north holland, netherlands
2
3
4

In [174]:
# Load the Google cleaned dataset (replace with my file path)
google_cleaned = pd.read_csv('/Users/vladgarau/Downloads/datasets/google_cleaned.csv', dtype={'address': str, 'domain': str}, low_memory=False)

In [175]:
# Merge Google cleaned data with fourth_dataset using 'domain' as the key
merged_all = pd.merge(merged_all, google_cleaned[['domain', 'address']], how='left', on='domain', suffixes=('', '_google'))

In [177]:
# Check the column names after merging to see how the Google 'address' column was named
print(merged_all.columns)

Index(['domain', 'company_name', 'category_combined', 'phone', 'full_address',
       'company_name_fb', 'name', 'address'],
      dtype='object')

In [178]:
# Check if the address column from Google exists and how it was named
print(merged_all[['domain', 'address']].head())

               domain                                            address
0                 Â "                                                NaN
1             zzdp.nl   Valschermkade 37, 1059 CD Amsterdam, Netherlands
2        zykode.co.za  103 Central Rd, Jacanlee, Randburg, 2194, Sout...
3  zyeudoreditions.ca  1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...
4            zyara.ca       Montreal, Quebec, Canada · In Marché Central

In [180]:
# Check all column names in the merged dataset
print(merged_all.columns)

Index(['domain', 'company_name', 'category_combined', 'phone', 'full_address',
       'company_name_fb', 'name', 'address'],
      dtype='object')

In [182]:
# Check the first few rows of the full_address column in the dataset
print(merged_all[['domain', 'full_address']].head())

               domain                           full_address
0                 Â "      15879834154, com, be okay massage
1             zzdp.nl  amsterdam, north holland, netherlands
2        zykode.co.za
3  zyeudoreditions.ca
4            zyara.ca

In [5]:
import pandas as pd

# Load the fourth dataset (replace with the correct path to my fourth dataset)
fourth_dataset = pd.read_csv('/Users/vladgarau/Downloads/datasets/fourth_dataset.csv')

# Load the Google cleaned dataset (if not already loaded)
google_cleaned = pd.read_csv('/Users/vladgarau/Downloads/datasets/google_cleaned.csv', dtype={'address': str, 'domain': str}, low_memory=False)

In [6]:
# Merge Google cleaned data with the fourth dataset on 'domain'
merged_all = pd.merge(fourth_dataset, google_cleaned[['domain', 'address']], how='left', on='domain', suffixes=('', '_google'))

In [8]:
# Print the column names after merging to see if the Google 'address' column was renamed
print(merged_all.columns)

Index(['domain', 'company_name', 'category_combined', 'phone', 'full_address',
       'address'],
      dtype='object')

In [9]:
# Prioritize the Google 'address' (named 'address') over the existing 'full_address'
merged_all['full_address'] = merged_all['address'].combine_first(merged_all['full_address'])

# Fill any remaining missing values for 'full_address' with 'Unknown'
merged_all['full_address'] = merged_all['full_address'].fillna('Unknown')

# Save the updated dataset
merged_all.to_csv('fourth_dataset_with_prioritized_address.csv', index=False)

# Check the first few rows to verify
print(merged_all[['domain', 'full_address']].head())

               domain                                       full_address
0                 Â "                  15879834154, com, be okay massage
1             zzdp.nl   Valschermkade 37, 1059 CD Amsterdam, Netherlands
2        zykode.co.za  103 Central Rd, Jacanlee, Randburg, 2194, Sout...
3  zyeudoreditions.ca  1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...
4            zyara.ca       Montreal, Quebec, Canada · In Marché Central

In [10]:
# Identify rows with potentially incorrect addresses (e.g., addresses that contain numbers only or non-standard formatting)
incorrect_addresses = merged_all[merged_all['full_address'].str.contains(r'\d{9,}', na=False)]

# Check a few rows to identify the issue
print(incorrect_addresses[['domain', 'full_address']].head())

                 domain                                       full_address
0                   Â "                  15879834154, com, be okay massage
12433  vanburenfire.com            270115203025000030, Van Buren, IN 46991
13943            va.gov  V89399914202000, El Paso, TX 79936, United States
18338           ups.com     33460008900000010212220000, Newburgh, NY 12550
22605          udel.edu        1801200282, Newark, DE 19711, United States

In [11]:
# Replace malformed or incomplete addresses with 'Unknown'
merged_all['full_address'] = merged_all['full_address'].replace(r'\d{9,}, com', 'Unknown', regex=True)

# Fill any remaining missing values with 'Unknown'
merged_all['full_address'] = merged_all['full_address'].fillna('Unknown')

In [13]:
# Save the updated and cleaned dataset
merged_all.to_csv('fourth_dataset_with_cleaned_address.csv', index=False)

# Verify the first few rows again
print(merged_all[['domain', 'full_address']].head())

               domain                                       full_address
0                 Â "                           Unknown, be okay massage
1             zzdp.nl   Valschermkade 37, 1059 CD Amsterdam, Netherlands
2        zykode.co.za  103 Central Rd, Jacanlee, Randburg, 2194, Sout...
3  zyeudoreditions.ca  1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...
4            zyara.ca       Montreal, Quebec, Canada · In Marché Central

In [14]:
# Select only the key identifiers for the final dataset
final_dataset = merged_all[['domain', 'company_name', 'category_combined', 'phone', 'full_address']]

# Save the final dataset with selected columns to my local machine
final_dataset.to_csv('fourth_dataset_key_identifiers.csv', index=False)

In [17]:
# Save the final dataset with selected columns to my local machine
final_dataset.to_csv('/Users/vladgarau/Downloads/datasets/final_dataset.csv', index=False)

In [16]:
# Remove duplicate rows based on the 'domain' column, keeping the first occurrence
final_dataset = final_dataset.drop_duplicates(subset=['domain'], keep='first')

In [18]:
final_dataset.to_csv('/Users/vladgarau/Downloads/datasets/final_dataset.csv', index=False)

In [19]:
# Print all column names to check if 'name_fb' exists (Facebook's company name column)
print(merged_all.columns)

Index(['domain', 'company_name', 'category_combined', 'phone', 'full_address',
       'address'],
      dtype='object')

In [21]:
# Load the Facebook cleaned dataset
facebook_cleaned = pd.read_csv('/Users/vladgarau/Downloads/datasets/facebook_cleaned.csv')

# Check if the 'name' column exists in the Facebook cleaned dataset
print(facebook_cleaned.columns)

# Check the first few rows of the Facebook dataset to confirm the data is correct
print(facebook_cleaned[['domain', 'name']].head())

Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name',
       'zip_code'],
      dtype='object')
                    domain                                   name
0       euro-hygiene-34.fr                           Euro Hygiène
1  lakesidehomeservices.ca                 Lakeside Home Services
2        rossiterboats.com                         Rossiter Boats
3     caa-architecture.com  Chandler Associates Architecture Inc.
4            apexsurety.ca           Apex Surety & Insurance Ltd.

In [26]:
# Merge Facebook data into the fourth dataset on 'domain'
# This will bring the 'name' column from Facebook into the merged dataset
merged_all = pd.merge(fourth_dataset, facebook_cleaned[['domain', 'name']], how='left', on='domain')

# Check the first few rows to see if the Facebook 'name' has been merged correctly
print(merged_all[['domain', 'name', 'company_name']].head())

               domain                   name company_name
0                 Â "                    NaN      alberta
1             zzdp.nl       ZZDP Architecten      unknown
2        zykode.co.za  Zykode Office Systems      unknown
3  zyeudoreditions.ca       Zyeudor Éditions      unknown
4            zyara.ca                  Zyara      unknown

In [27]:
# Prioritize Facebook's 'name' over the existing 'company_name'
merged_all['company_name'] = merged_all['name'].combine_first(merged_all['company_name'])

# Check the result to make sure the prioritization is applied
print(merged_all[['domain', 'company_name']].head())

               domain           company_name
0                 Â "                alberta
1             zzdp.nl       ZZDP Architecten
2        zykode.co.za  Zykode Office Systems
3  zyeudoreditions.ca       Zyeudor Éditions
4            zyara.ca                  Zyara

In [28]:
# Save the updated dataset
merged_all.to_csv('fourth_dataset_prioritized_company_name.csv', index=False)

In [29]:
# Merge Facebook data into the fourth dataset on 'domain'
merged_all = pd.merge(fourth_dataset, facebook_cleaned[['domain', 'name']], how='left', on='domain')

# Prioritize Facebook's 'name' over the existing 'company_name'
merged_all['company_name'] = merged_all['name'].combine_first(merged_all['company_name'])

In [34]:
# Load the website cleaned dataset (replace the file path with the correct one)
website_cleaned = pd.read_csv('/Users/vladgarau/Downloads/datasets/website_cleaned.csv')

# Check if the 'root_domain' column exists
print(website_cleaned.columns)

# Check the first few rows to confirm the data
print(website_cleaned[['domain']].head())

Index(['domain', 'domain_suffix', 'language', 'company_name', 'city',
       'country', 'region', 'phone', 'site_name', 'tld', 'category'],
      dtype='object')
                domain
0     converterman.com
1  clothesencounter.ca
2       investa.com.au
3    timminsgarage.com
4         destinate.ca

In [35]:
# Merge Website cleaned data to prioritize 'domain' from 'website_cleaned'
merged_all = pd.merge(merged_all, website_cleaned[['domain']], how='left', left_on='domain', right_on='domain')

# Prioritize domain from 'website_cleaned' (root_domain) over the existing domain
merged_all['domain'] = merged_all['domain'].combine_first(merged_all['domain'])

# Select the required fields for the final dataset
final_columns = ['domain', 'company_name', 'category_combined', 'phone', 'full_address']
final_dataset = merged_all[final_columns]

# Save the final dataset to a CSV file
final_dataset.to_csv('fourth_dataset_final_with_prioritized_domain.csv', index=False)

# Print the first few rows to check the result
print(final_dataset.head())

               domain           company_name  \
0                 Â "                alberta
1             zzdp.nl       ZZDP Architecten
2        zykode.co.za  Zykode Office Systems
3  zyeudoreditions.ca       Zyeudor Éditions
4            zyara.ca                  Zyara

                                   category_combined         phone  \
0                                            unknown           NaN
1  industrial machinery & supplies, architects & ...  3.120647e+10
2  unknown, office equipment & supplies, office s...  2.776603e+10
3  book stores|book stores|art galleries, furnitu...  1.450887e+10
4  middle eastern restaurants, restaurants, resta...  1.514535e+10

                                        full_address
0                  15879834154, com, be okay massage
1   Valschermkade 37, 1059 CD Amsterdam, Netherlands
2  103 Central Rd, Jacanlee, Randburg, 2194, Sout...
3  1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...
4       Montreal, Quebec, Canada · In Marché Central

In [36]:
# Remove duplicate rows based on 'domain', keeping the first occurrence
final_dataset_no_duplicates = final_dataset.drop_duplicates(subset=['domain'], keep='first')

# Save the final dataset without duplicates
final_dataset_no_duplicates.to_csv('fourth_dataset_final_no_duplicates.csv', index=False)

# Print the first few rows to verify
print(final_dataset_no_duplicates.head())

               domain           company_name  \
0                 Â "                alberta
1             zzdp.nl       ZZDP Architecten
2        zykode.co.za  Zykode Office Systems
3  zyeudoreditions.ca       Zyeudor Éditions
4            zyara.ca                  Zyara

                                   category_combined         phone  \
0                                            unknown           NaN
1  industrial machinery & supplies, architects & ...  3.120647e+10
2  unknown, office equipment & supplies, office s...  2.776603e+10
3  book stores|book stores|art galleries, furnitu...  1.450887e+10
4  middle eastern restaurants, restaurants, resta...  1.514535e+10

                                        full_address
0                  15879834154, com, be okay massage
1   Valschermkade 37, 1059 CD Amsterdam, Netherlands
2  103 Central Rd, Jacanlee, Randburg, 2194, Sout...
3  1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...
4       Montreal, Quebec, Canada · In Marché Central

In [37]:
# Save the dataset to a CSV file in my current working directory
final_dataset_no_duplicates.to_csv('/Users/vladgarau/Downloads/datasets/fourth_dataset_final_no_duplicates.csv')

In [44]:
# Drop rows where 'company_name', 'phone', and 'full_address' are all "Unknown"
final_dataset_filtered = final_dataset_no_duplicates[
    ~((final_dataset_no_duplicates['company_name'] == 'Unknown') & 
      (final_dataset_no_duplicates['phone'] == 'Unknown') & 
      (final_dataset_no_duplicates['full_address'] == 'Unknown'))
]

In [45]:
# Save the cleaned dataset to a CSV file
final_dataset_filtered.to_csv('fourth_dataset_cleaned.csv', index=False)

# Print the first few rows to check the cleaned data
print(final_dataset_filtered.head())

               domain           company_name  \
0                 Â "                alberta
1             zzdp.nl       ZZDP Architecten
2        zykode.co.za  Zykode Office Systems
3  zyeudoreditions.ca       Zyeudor Éditions
4            zyara.ca                  Zyara

                                   category_combined         phone  \
0                                            unknown           NaN
1  industrial machinery & supplies, architects & ...  3.120647e+10
2  unknown, office equipment & supplies, office s...  2.776603e+10
3  book stores|book stores|art galleries, furnitu...  1.450887e+10
4  middle eastern restaurants, restaurants, resta...  1.514535e+10

                                        full_address
0                  15879834154, com, be okay massage
1   Valschermkade 37, 1059 CD Amsterdam, Netherlands
2  103 Central Rd, Jacanlee, Randburg, 2194, Sout...
3  1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...
4       Montreal, Quebec, Canada · In Marché Central

In [59]:
# Sort the filtered dataset by 'company_name' in ascending order
final_dataset_sorted = final_dataset_filtered.sort_values(by='domain', ascending=True)

# Save the sorted dataset to a CSV file
final_dataset_sorted.to_csv('fourth_dataset_sorted.csv', index=False)

# Print the first few rows to verify the sorting
print(final_dataset_sorted.head())

                    domain          company_name  \
348835        007group.com  Hawkeye Holdings Ltd
348834         007print.be              007print
348833        01remote.com             01 Remote
348832    08rotulacion.com         08 Rotulación
348831  1000butterflies.ca      1000 Butterflies

                                        category_combined         phone  \
348835  other engineering services|buses, shuttles & l...  1.250766e+10
348834  business consulting, construction services, co...  3.249923e+10
348833  computer stores|cable & internet providers, co...           NaN
348832  graphic design|decorators & interior designers...  3.462205e+10
348831  unknown, alternative therapy, alternative therapy  1.403512e+10

                                             full_address
348835      3396 Sexsmith Rd, Kelowna, BC V1X 7S5, Canada
348834  Hendrik van Veldekesingel 150/94, 3500 Hasselt...
348833  100 City Centre Dr, Mississauga, ON L5B 3C7, C...
348832  Plaza del Caño, 1, Local 1A, 28260 Galapagar, ...
348831     2411 Erlton Rd SW, Calgary, AB T2S 3B9, Canada

In [74]:
# Remove rows where 'company_name' is 'Unknown', 'phone' is NaN, and 'full_address' is 'Unknown'
final_dataset_filtered = final_dataset_sorted[
    ~((final_dataset_sorted['company_name'] == 'unknown') & 
      (final_dataset_sorted['phone'].isna()) & 
      (final_dataset_sorted['full_address'] == 'Unknown'))
]

# Save the filtered and sorted dataset to a CSV file
final_dataset_filtered.to_csv('fourth_dataset_clean_sorted.csv', index=False)

# Display the first few rows of the cleaned dataset
print(final_dataset_filtered.head())

                    domain          company_name  \
348835        007group.com  Hawkeye Holdings Ltd
348834         007print.be              007print
348833        01remote.com             01 Remote
348832    08rotulacion.com         08 Rotulación
348831  1000butterflies.ca      1000 Butterflies

                                        category_combined         phone  \
348835  other engineering services|buses, shuttles & l...  1.250766e+10
348834  business consulting, construction services, co...  3.249923e+10
348833  computer stores|cable & internet providers, co...           NaN
348832  graphic design|decorators & interior designers...  3.462205e+10
348831  unknown, alternative therapy, alternative therapy  1.403512e+10

                                             full_address
348835      3396 Sexsmith Rd, Kelowna, BC V1X 7S5, Canada
348834  Hendrik van Veldekesingel 150/94, 3500 Hasselt...
348833  100 City Centre Dr, Mississauga, ON L5B 3C7, C...
348832  Plaza del Caño, 1, Local 1A, 28260 Galapagar, ...
348831     2411 Erlton Rd SW, Calgary, AB T2S 3B9, Canada

In [75]:
# Save the dataset to a CSV file in my current working directory
final_dataset_filtered.to_csv('/Users/vladgarau/Downloads/datasets/final_dataset.csv')

In [73]:
# Save the filtered and sorted dataset to a CSV file
filtered_data.to_csv('final_filetered_data.csv', index=False)

,domain,company_name,category_combined,phone_x,full_address,name,phone_y,phone,address
0,"Â """,alberta,unknown,NaN,"15879834154, com, be okay massage",NaN,NaN,NaN,NaN
1,zzdp.nl,ZZDP Architecten,"industrial machinery & supplies, architects & ...",3.120647e+10,"Valschermkade 37, 1059 CD Amsterdam, Netherlands",ZZDP Architecten,NaN,3.120647e+10,"Valschermkade 37, 1059 CD Amsterdam, Netherlands"
2,zykode.co.za,Zykode Office Systems,"unknown, office equipment & supplies, office s...",2.776603e+10,"103 Central Rd, Jacanlee, Randburg, 2194, Sout...",Zykode Office Systems,NaN,2.776603e+10,"103 Central Rd, Jacanlee, Randburg, 2194, Sout..."
3,zyeudoreditions.ca,Zyeudor Éditions,"book stores|book stores|art galleries, furnitu...",1.450887e+10,"1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...",Zyeudor Éditions,NaN,1.450887e+10,"1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC..."
4,zyara.ca,Zyara,"middle eastern restaurants, restaurants, resta...",1.514535e+10,"Montreal, Quebec, Canada · In Marché Central",Zyara,1.514535e+10,1.514535e+10,"Montreal, Quebec, Canada · In Marché Central"

In [76]:
# Step 1: Remove rows where 'company_name', 'phone', or 'full_address' are 'unknown' or NaN
cleaned_df = merged_all[
    (merged_all['company_name'] != 'unknown') &
    (merged_all['full_address'] != 'Unknown') &
    (merged_all['phone'].notna())  # Make sure phone is not NaN
]

# Step 2: Drop unnecessary columns like 'phone_x' and 'phone_y'
cleaned_df = cleaned_df.drop(columns=['phone_x', 'phone_y'], errors='ignore')

# Step 3: Remove any duplicates, keeping rows with the most data
cleaned_df = cleaned_df.drop_duplicates(subset=['domain', 'company_name', 'phone', 'full_address'])

# Step 4: Export the cleaned dataset to a CSV file
cleaned_df.to_csv('fourth_dataset_cleaned_final.csv', index=False)

# Display first few rows of the cleaned data
cleaned_df.head()

,domain,company_name,category_combined,full_address,name,phone,address
1,zzdp.nl,ZZDP Architecten,"industrial machinery & supplies, architects & ...","Valschermkade 37, 1059 CD Amsterdam, Netherlands",ZZDP Architecten,3.120647e+10,"Valschermkade 37, 1059 CD Amsterdam, Netherlands"
2,zykode.co.za,Zykode Office Systems,"unknown, office equipment & supplies, office s...","103 Central Rd, Jacanlee, Randburg, 2194, Sout...",Zykode Office Systems,2.776603e+10,"103 Central Rd, Jacanlee, Randburg, 2194, Sout..."
3,zyeudoreditions.ca,Zyeudor Éditions,"book stores|book stores|art galleries, furnitu...","1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC...",Zyeudor Éditions,1.450887e+10,"1013 Rue Meunier, Saint-Jean-sur-Richelieu, QC..."
4,zyara.ca,Zyara,"middle eastern restaurants, restaurants, resta...","Montreal, Quebec, Canada · In Marché Central",Zyara,1.514535e+10,"Montreal, Quebec, Canada · In Marché Central"
5,zwembaddeninkel.nl,Zwembad Den Inkel,"unknown, sports & leisure - clubs, fields & pi...","Blauwhoefseweg 10, 4416 RC Kruiningen, Netherl...",Zwembad Den Inkel,3.111332e+10,"Blauwhoefseweg 10, 4416 RC Kruiningen, Netherl..."

In [77]:
# Step 1: Remove rows where 'company_name', 'phone', or 'full_address' are 'unknown' or NaN
cleaned_df = merged_all[
    (merged_all['company_name'] != 'unknown') &
    (merged_all['full_address'] != 'Unknown') &
    (merged_all['phone'].notna())
]

# Step 2: Drop unnecessary columns like 'name' and 'address'
cleaned_df = cleaned_df.drop(columns=['name', 'address'], errors='ignore')

# Step 3: Remove duplicates while keeping the rows with the most information
cleaned_df = cleaned_df.drop_duplicates(subset=['domain', 'company_name', 'category_combined', 'phone', 'full_address'], keep='first')

# Step 4: Sort by company name
cleaned_df = cleaned_df.sort_values(by='company_name')

# Step 5: Export the cleaned dataset to a CSV file
cleaned_df.to_csv('fourth_dataset_cleaned_final.csv', index=False)

# Display first few rows of the cleaned data
print(cleaned_df.head())

               domain        company_name  \
332322  andcompany.ca  &Company Resto Bar
51808   sheerenloo.nl       's Heeren Loo
51807   sheerenloo.nl       's Heeren Loo
51806   sheerenloo.nl       's Heeren Loo
51805   sheerenloo.nl       's Heeren Loo

                                        category_combined       phone_x  \
332322  pubs & bars|restaurants, unknown, barbecue res...  1.905808e+10
51808   senior care and assisted living facilities|psy...  3.181100e+04
51807   senior care and assisted living facilities|psy...  3.181100e+04
51806   senior care and assisted living facilities|psy...  3.181100e+04
51805   senior care and assisted living facilities|psy...  3.181100e+04

                                             full_address       phone_y  \
332322    295 Enfield Pl, Mississauga, ON L5B 3J4, Canada  1.905808e+10
51808    'De Wieken 9, 4191 TS Geldermalsen, Netherlands'  3.180036e+11
51807       Schreursweg 63, 7531 AK Enschede, Netherlands  3.180036e+11
51806         Hoenderweg 15A, 3851 RZ Ermelo, Netherlands  3.180036e+11
51805   'Apeldoornseweg 60, 6733 SC Wekerom, Netherlands'  3.180036e+11

               phone
332322  1.905808e+10
51808   3.180036e+11
51807   3.180036e+11
51806   3.180036e+11
51805   3.180036e+11

In [78]:
# Drop 'phone_x' and 'phone_y' and keep only the 'phone' column
cleaned_df = merged_all.drop(columns=['phone_x', 'phone_y'], errors='ignore')

# Drop rows where company_name, full_address, and phone are all 'unknown' or NaN
cleaned_df = cleaned_df[
    (cleaned_df['company_name'] != 'unknown') &
    (cleaned_df['full_address'] != 'Unknown') &
    (cleaned_df['phone'].notna())
]

# Remove duplicates while keeping the row with the most information
cleaned_df = cleaned_df.drop_duplicates(subset=['domain', 'company_name', 'category_combined', 'phone', 'full_address'], keep='first')

# Sort by 'company_name'
cleaned_df = cleaned_df.sort_values(by='company_name')

# Export the cleaned dataset to a CSV file
cleaned_df.to_csv('fourth_dataset_cleaned_final.csv', index=False)

# Display first few rows of the cleaned data
print(cleaned_df.head())

               domain        company_name  \
332322  andcompany.ca  &Company Resto Bar
51808   sheerenloo.nl       's Heeren Loo
51807   sheerenloo.nl       's Heeren Loo
51806   sheerenloo.nl       's Heeren Loo
51805   sheerenloo.nl       's Heeren Loo

                                        category_combined  \
332322  pubs & bars|restaurants, unknown, barbecue res...
51808   senior care and assisted living facilities|psy...
51807   senior care and assisted living facilities|psy...
51806   senior care and assisted living facilities|psy...
51805   senior care and assisted living facilities|psy...

                                             full_address                name  \
332322    295 Enfield Pl, Mississauga, ON L5B 3J4, Canada  &Company Resto Bar
51808    'De Wieken 9, 4191 TS Geldermalsen, Netherlands'       's Heeren Loo
51807       Schreursweg 63, 7531 AK Enschede, Netherlands       's Heeren Loo
51806         Hoenderweg 15A, 3851 RZ Ermelo, Netherlands       's Heeren Loo
51805   'Apeldoornseweg 60, 6733 SC Wekerom, Netherlands'       's Heeren Loo

               phone                                            address
332322  1.905808e+10    295 Enfield Pl, Mississauga, ON L5B 3J4, Canada
51808   3.180036e+11   'De Wieken 9, 4191 TS Geldermalsen, Netherlands'
51807   3.180036e+11      Schreursweg 63, 7531 AK Enschede, Netherlands
51806   3.180036e+11        Hoenderweg 15A, 3851 RZ Ermelo, Netherlands
51805   3.180036e+11  'Apeldoornseweg 60, 6733 SC Wekerom, Netherlands'

In [79]:
# Remove 'name' and 'address' columns
cleaned_df = cleaned_df.drop(columns=['name', 'address'], errors='ignore')

# Format phone numbers to remove scientific notation
cleaned_df['phone'] = cleaned_df['phone'].apply(lambda x: '{:.0f}'.format(x) if pd.notnull(x) else x)

# Keep only the relevant columns
cleaned_df = cleaned_df[['domain', 'company_name', 'category_combined', 'phone', 'full_address']]

# Drop duplicates to ensure the data is clean
cleaned_df = cleaned_df.drop_duplicates()

# Export the cleaned dataset to a CSV file
cleaned_df.to_csv('fourth_dataset_cleaned_final.csv', index=False)

# Display first few rows of the cleaned data
print(cleaned_df.head())

               domain        company_name  \
332322  andcompany.ca  &Company Resto Bar
51808   sheerenloo.nl       's Heeren Loo
51807   sheerenloo.nl       's Heeren Loo
51806   sheerenloo.nl       's Heeren Loo
51805   sheerenloo.nl       's Heeren Loo

                                        category_combined         phone  \
332322  pubs & bars|restaurants, unknown, barbecue res...   19058082112
51808   senior care and assisted living facilities|psy...  318003555555
51807   senior care and assisted living facilities|psy...  318003555555
51806   senior care and assisted living facilities|psy...  318003555555
51805   senior care and assisted living facilities|psy...  318003555555

                                             full_address
332322    295 Enfield Pl, Mississauga, ON L5B 3J4, Canada
51808    'De Wieken 9, 4191 TS Geldermalsen, Netherlands'
51807       Schreursweg 63, 7531 AK Enschede, Netherlands
51806         Hoenderweg 15A, 3851 RZ Ermelo, Netherlands
51805   'Apeldoornseweg 60, 6733 SC Wekerom, Netherlands'

In [83]:
# Remove duplicates by keeping the row with the most complete information (non-unknown values)
cleaned_df = cleaned_df.sort_values(by=['company_name', 'phone', 'full_address'], ascending=False).drop_duplicates(subset='domain', keep='first')

# Display first few rows of the cleaned data
print(cleaned_df.head())

                      domain         company_name  \
90705    opusartprojects.com    𝗢𝗣𝗨𝗦 𝗔𝗥𝗧 𝗣𝗥𝗢𝗝𝗘𝗖𝗧𝗦
51810     sheerbeautybar.com     𝓈𝒽𝑒𝑒𝓇 𝐁𝐄𝐀𝐔𝐓𝐘 𝐁𝐀𝐑
69958   proorganiccanada.com    𝐏𝐫𝐨𝐎𝐫𝐠𝐚𝐧𝐢𝐜 𝐂𝐚𝐧𝐚𝐝𝐚
342972      adorefineart.com       𝐀𝐝𝐨𝐫𝐞 𝐅𝐢𝐧𝐞 𝐀𝐫𝐭
100185         nhk-cul.co.jp  ＮＨＫカルチャー（ＮＨＫ文化センター）

                                        category_combined        phone  \
90705               art galleries, unknown, art galleries  16476896058
51810   unknown, spa & wellness centers, facial spa ce...  17802976201
69958   business consulting|window cleaning service|de...  16474090955
342972        art galleries, art galleries, art galleries        44811
100185  community center, electronical components reta...  81334751359

                                             full_address
90705     58b Kenilworth Ave, Toronto, ON M4L 3S5, Kanada
51810                                    11961 Jasper Ave
69958   245 Bartley Dr Unit 3, North York, ON M4A 2V8,...
342972  1 Allandale Rd, Stoneygate, Leicester LE2 2DA,...
100185  Minamiaoyama, 1 Chome−1−1 4Ｆ Aoyama Twin, 西館 ·...

In [85]:
# Sort the dataframe based on 'domain'
sorted_df = cleaned_df.sort_values(by='domain', ascending=True)

# Export the sorted dataset to a CSV file
sorted_df.to_csv('fourth_dataset_sorted.csv', index=False)

In [87]:
# Convert the phone column to string format to prevent scientific notation
cleaned_df['phone'] = cleaned_df['phone'].apply(lambda x: str(int(x)) if not pd.isna(x) else 'Unknown')

# Export the corrected dataset to a CSV file
cleaned_df.to_csv('fourth_dataset_corrected.csv', index=False)